<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>br.com.containers.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LinhaServlet</servlet-name>
        <servlet-class>br.com.containers.LinhaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EstruturaServlet</servlet-name>
        <servlet-class>br.com.containers.EstruturaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JSLinhaServlet</servlet-name>
        <servlet-class>br.com.containers.JSLinhaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VaoServlet</servlet-name>
        <servlet-class>br.com.containers.VaoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContatoServlet</servlet-name>
        <servlet-class>br.com.containers.ContatoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FuncionarioServlet</servlet-name>
        <servlet-class>br.com.containers.FuncionarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SenhaServlet</servlet-name>
        <servlet-class>br.com.containers.SenhaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BackupServlet</servlet-name>
        <servlet-class>br.com.containers.BackupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SobreavisoServlet</servlet-name>
        <servlet-class>br.com.containers.SobreavisoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PleServlet</servlet-name>
        <servlet-class>br.com.containers.PleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProgServicoServlet</servlet-name>
        <servlet-class>br.com.containers.ProgServicoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoffServlet</servlet-name>
        <servlet-class>br.com.containers.LogoffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>br.com.containers.UploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LinhaServlet</servlet-name>
        <url-pattern>/LinhaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EstruturaServlet</servlet-name>
        <url-pattern>/EstruturaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JSLinhaServlet</servlet-name>
        <url-pattern>/JSLinhaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VaoServlet</servlet-name>
        <url-pattern>/VaoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContatoServlet</servlet-name>
        <url-pattern>/ContatoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FuncionarioServlet</servlet-name>
        <url-pattern>/FuncionarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SenhaServlet</servlet-name>
        <url-pattern>/SenhaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BackupServlet</servlet-name>
        <url-pattern>/BackupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SobreavisoServlet</servlet-name>
        <url-pattern>/SobreavisoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PleServlet</servlet-name>
        <url-pattern>/PleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProgServicoServlet</servlet-name>
        <url-pattern>/ProgServicoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoffServlet</servlet-name>
        <url-pattern>/LogoffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <!--    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/errorpage.jsp</location>
    </error-page>-->
</web-app>
